
<div>





	<div class="forumbg">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<!-- DFP-DFP-300x250/300x600 -->
			<ins data-revive-zoneid="7167"
				data-revive-id="6609ba8ff88606794e22ff360400bcea"
				style="display: none;"></ins>
			<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>
			<!-- DFP-300x250 BTF -->
			<ins data-revive-zoneid="7168"
				data-revive-id="6609ba8ff88606794e22ff360400bcea"
				style="display: none;"></ins>
			<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>
			<!-- DFP-320x50/320x100 -->
			<ins data-revive-zoneid="7169"
				data-revive-id="6609ba8ff88606794e22ff360400bcea"
				style="display: none;"></ins>
			<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="multicentrum">
		<br />
		<p class="rtecenter" style="">
			<a class="twitter-timeline" data-widget-id="293282730312081408"
				href="https://twitter.com/mammeonline"><img alt=""
				src="/sites/default/files/images/100_twitter_logo.jpg"
				style="width: 100px; height: 56px;" /></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</p>
	</div>

	<div class="forabg">
		<div id="adsense">
			<script async
				src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- 300x250, creato 17/09/15 -->
			<ins class="adsbygoogle"
				style="display: inline-block; width: 300px; height: 250px"
				data-ad-client="ca-pub-0000" data-ad-slot="2016"></ins>
			<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		</div>
	</div>


	<div class="multicentrum">
		<h2>Newsletter Mammeonline</h2>
		<p>iscriviti, è gratuita</p>
		<script language="Javascript" type="text/javascript">
function checkform() {
  for (i=0;i<fieldstocheck.length;i++) {
    if (eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].type") == "checkbox") {
      if (document.subscribeform.elements[fieldstocheck[i]].checked) {
      } else {
        alert("Per favore, inserisci il tuo "+fieldnames[i]);
        eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].focus()");
        return false;
      }
    }
    else {
      if (eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].value") == "") {
        alert("Per favore, inserisci il tuo "+fieldnames[i]);
        eval("document.subscribeform.elements['"+fieldstocheck[i]+"'].focus()");
        return false;
      }
    }
  }
  for (i=0;i<groupstocheck.length;i++) {
    if (!checkGroup(groupstocheck[i],groupnames[i])) {
      return false;
    }
  }
  
  return true;
}

var fieldstocheck = new Array();
var fieldnames = new Array();

function addFieldToCheck(value,name) {
  fieldstocheck[fieldstocheck.length] = value;
  fieldnames[fieldnames.length] = name;
}
var groupstocheck = new Array();
var groupnames = new Array();
function addGroupToCheck(value,name) {
  groupstocheck[groupstocheck.length] = value;
  groupnames[groupnames.length] = name;
}

function compareEmail()
{
  return (document.subscribeform.elements["email"].value == document.subscribeform.elements["emailconfirm"].value);
}

function checkGroup(name,value) {
  option = -1;
  for (i=0;i<document.subscribeform.elements[name].length;i++) {
    if (document.subscribeform.elements[name][i].checked) {
      option = i;
    }
  }
  if (option == -1) {
    alert ("Per favore, inserisci il tuo "+value);
    return false;
  }
  return true;
}
</script>
		<form action="http://news.mammeonline.com/?p=subscribe&amp;id=4"
			method="post" name="signup"
			onsubmit="window.open('', this.target,
'dialog,modal,scrollbars=no,resizable=no,width=800,height=250,left=0,top=0');"
			target="windowName">
			<input name="formtoken" type="hidden"
				value="32737379475e41035129a03c8bcb8684" /> <input name="htmlemail"
				type="hidden" value="1" />
			<div style="color: red; font-weight: bold" align="left">Email:</div>
			<input name="email" size="35" type="text" value="" />
			<script language="Javascript" type="text/javascript">addFieldToCheck("email","Email");</script>
			<div style="display: none">
				<input checked="checked" name="list[7]" type="checkbox"
					value="signup" /><b>mammeonline</b><input name="list[7]"
					type="hidden" value="mammeonline" />La community di Mammeonline <input
					name="VerificationCodeX" size="20" type="text" value="" />
			</div>
			<input name="subscribe" onclick="return checkform();" size="35"
				type="submit" value="Iscrivimi" />
		</form>
	</div>




	<div class="panel bg1">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div id="fb-root">&nbsp;</div>
			<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/all.js#xfbml=1&appId=367803709185";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like-box" data-header="true"
				data-href="http://www.facebook.com/mammeonline"
				data-show-faces="true" data-stream="false" data-width="300">&nbsp;</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<br />

	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div id="adsense">
				<script async
					src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- 300x250, creato 17/09/15 -->
				<ins class="adsbygoogle"
					style="display: inline-block; width: 300px; height: 250px"
					data-ad-client="ca-pub-0000" data-ad-slot="2016"></ins>
				<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<br />

	<div>
		<!-- Banner -->
		<a href="https://mammeonline.cam.tv" title="Cam.TV"><img src="https://www.cam.tv/assets/images/banners/it/300x600.jpg" /></a>
	</div>

	<div id="player-content">
		<!-- DFP-Fluid -->
		<ins data-revive-zoneid="5795" data-revive-id="6609ba8ff88606794e22ff360400bcea"></ins>
		<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>
	</div>

	<div class="panel bg2">
	<!-- DFP-Native -->
	<ins data-revive-zoneid="4652" data-revive-id="6609ba8ff88606794e22ff360400bcea"></ins>
	<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>
	</div>

	<!-- DFP-OutOfPage -->
	<ins data-revive-zoneid="7170" data-revive-id="6609ba8ff88606794e22ff360400bcea" style="display:none;"></ins>
	<script async src="//adx.4strokemedia.com/www/delivery/asyncjs.php"></script>

</div>
