<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

<!-- INCLUDE overall_footer_mol.html -->

</div>


<bd />
<div id="wrapfooter">
<!-- IF GYM_LINKS --><span>{GYM_HTML_NEWS_LINK} {GYM_HTML_MAP_LINK} {GYM_GOOGLE_LINK} {GYM_RSS_LINK} {GYM_RSS_CHAN_LINK}</span><br />
<!-- ENDIF -->
<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br />
<!-- ENDIF -->

<div class="content">
<!-- TGADV -->
<div id="ADVTG_CONTAINER_728x90_2" style="width:728px;margin:0 auto">
<script language="JavaScript" type="text/javascript">
//<![CDATA[
ADVTG.banner('728x90_2');
//]]>
</script>
</div> 
<script language="JavaScript" type="text/javascript">
//<![CDATA[
ADVTG.banner('dinamic');
//]]>
</script>
</div>

<div id="alcatraz">
<!-- banner etico inizio codice -->
<center>
<script language="JavaScript"> 
document.write('<s'+'cript language="JavaScript" src="http://www.stradaalternativa.com/work.php?n=2801&size=1&j=1&c=&code=&div=1'+new Date().getTime()+'"></s'+'cript>'); 
</script> 
<NOSCRIPT>
<IFRAME SRC="http://www.stradaalternativa.com/work.php?n=2801&size=1&c=&div=1" width="468" height="72" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></IFRAME>
</NOSCRIPT>
</center>
<!-- banner etico fine codice -->
</div>

<div id="molfooter">
<p>(c) 1998-2016 IlNido - Mammeonline</p>
<p>Illustrazioni di <a target="_blank" href="http://www.tizianarinaldi.it">Tiziana Rinaldi
</a>
</p>
</div>
<span class="copyright">{CREDIT_LINE}
<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}
<!-- ENDIF -->
<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo>
<!-- ENDIF --></span>
</div>



</div>


<!-- INCLUDE overall_footer_mol_old.html -->
</div> <!--/#sfondo-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20214364-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- IF ADS_8 --><br />{ADS_8}<!-- ENDIF -->

<!-- Nielsen Online SiteCensus V6.0 -->
<!-- COPYRIGHT 2012 Nielsen Online -->
<script type="text/javascript" src="//secure-it.imrworldwide.com/v60.js">
</script>
<script type="text/javascript">
 var pvar = { cid: "tgadv-it", content: "0", server: "secure-it" };
 var feat = { check_cookie: 0 };
 var trac = nol_t(pvar, feat);
 trac.record().post();
</script>
<noscript>
 <div>
 <img src="//secure-it.imrworldwide.com/cgi-bin/m?ci=tgadv-it&amp;cg=0&amp;cc=0&amp;ts=noscript"
 width="1" height="1" alt="" />
 </div>
</noscript>
<!-- Nielsen Online SiteCensus V6.0 -->

</body>
</html>